name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate minimal snake animation
        uses: Platane/snk@v3.2.0
        with:
          github_user_name: AlwnThomas
          outputs: |
            dist/snake-minimal.svg?palette=github-light&bg=transparent
            dist/snake-dark-minimal.svg?palette=github-dark&bg=transparent

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
